<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <div class="container">

    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <i class="icon ion-ios-sunny mr-3 display-4 text-warning"></i>
        <strong class="">Weather forecast <span class="text-secondary">app</span></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

  </div>
</nav>
