<div class="shadow position-relative" [formGroup]="forecastForm">
  <input type="text" class="form-control form-control-lg bg-white" formControlName="cityName" placeholder="Enter city name">
  <i class="icon ion-ios-search inputSearchIcon" *ngIf="!isLoading; else searchLoadingSpinner"></i>
  <ng-template #searchLoadingSpinner>
    <div class="spinner-border spinner-sm inputSpinIcon"></div>
  </ng-template>
</div>

<ng-container *ngIf="(forecast$ | async) as forecast; else noForecast">

  <app-city-details class="d-block mt-4" [city]="forecast.city"></app-city-details>
  <app-pressure-avg [weatherList]="forecast.weatherList"></app-pressure-avg>

  <div class="row">
    <app-temperature-chart class="col col-lg-6 mt-4" [weatherList]="forecast.weatherList"></app-temperature-chart>
    <app-humidity-chart class="col col-lg-6 mt-4" [weatherList]="forecast.weatherList"></app-humidity-chart>
  </div>
  <app-weather-list class="d-block mt-4" [weatherList]="forecast.weatherList"></app-weather-list>

</ng-container>

<ng-template #noForecast>
  <ng-container *ngIf="forecastNotFound; else enterCityNameTemplate">
    <div class="jumbotron text-center mt-4">
      <i class="icon ion-ios-warning display-1"></i>
      <h4>No weather found for specified area</h4>
    </div>
  </ng-container>
  <ng-template #enterCityNameTemplate>
    <div class="jumbotron text-center mt-4">
      <i class="icon ion-md-search display-1"></i>
      <h4>Enter the city name in the search above</h4>
    </div>
  </ng-template>
</ng-template>
