<div [formGroup]="forecastForm">
  <input type="text" class="form-control" formControlName="cityName">
</div>

<ng-container *ngIf="(forecast$ | async) as forecast">

  {{ forecast.city.coord.lat }}
  {{ forecast.city.coord.lon }}
  {{ forecast.city.country }}
  {{ forecast.city.id }}
  {{ forecast.city.name }}
  {{ forecast.city.population }}
  {{ forecast.city.timezone }}
  
  <app-weather-list [weatherList]="forecast.weatherList"></app-weather-list>

</ng-container>

<p>home works!</p>

<div class="my-5">
  <div class="card">
    <div class="card-header">header</div>
    <div class="card-body">body</div>
  </div>
</div>
